<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeIconFile</key>
			<string>IconGestures.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fs</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FreeStroke Gestures</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>CFBundleIconFile</key>
	<string>Icon.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>Created by FreeSoft</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>FreeStroke</string>
	<key>CFBundleIdentifier</key>
	<string>com.freesoft.FreeStroke</string>
	<key>LSApplicationCategoryType</key>
	<string>FreeSoft</string>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
